/* img {
  width: 50%;
} */

body {
  background-color: gray;
}
.container {
  display: flex;
}

.bg-image {
  background-image: url("./ai.webp");
  /* background-color: white; */
  width: 50%;
  padding-top: 50%;
  /* height: 500px; */
}
