.page {
  display: flex;
  width: 100vw;
  height: 100vh;

  /* background-color: white; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
}
.page-header,
.ant-page-header-heading-title {
  /* background-color: grey; */
  /* color: white; */
  height: 5em;
}

.page .gap {
  width: 5px;
  height: "100%";
  background-color: gray;
}
.page .menu {
  /* width: 200px; */
  /* background: black; */
  font-size: 2em;
  /* height: 100%; */
  /* margin-right: 10px; */
}
.page .main {
  background-color: white;
}
